In [1]:
import numpy as np
import pandas as pd

In [2]:
users_df = pd.read_csv('Users.csv')
users_df = users_df.dropna(inplace=True)
users_df

        User-ID                            Location   Age
1             2           stockton, california, usa  18.0
3             4           porto, v.n.gaia, portugal  17.0
5             6       santa monica, california, usa  61.0
9            10          albacete, wisconsin, spain  26.0
10           11      melbourne, victoria, australia  14.0
...         ...                                 ...   ...
278848   278849         georgetown, ontario, canada  23.0
278850   278851                  dallas, texas, usa  33.0
278851   278852     brisbane, queensland, australia  32.0
278852   278853      stranraer, n/a, united kingdom  17.0
278854   278855  tacoma, washington, united kingdom  50.0

[168096 rows x 3 columns]

In [17]:
books_df = pd.read_csv('Books.csv', dtype="string")
books_df = books_df.drop(books_df[books_df["Year-Of-Publication"] == '0'].index).dropna(inplace=True)
ratings_df = pd.read_csv('Ratings.csv')
ratings_df = ratings_df.drop_duplicates(subset=['User-ID', 'ISBN'], keep='last').dropna(inplace=True)
ratinngs_df = ratings_df[ratings_df['Book-Rating'] != 0]

ratings_mean = ratings_df.groupby("ISBN").agg({'Book-Rating': 'mean', 'User-ID': 'count'}).rename(columns={'User-ID': 'Rating-Count'})
books_df = pd.merge(books_df, ratings_mean, on='ISBN', how='left')

AttributeError: 'NoneType' object has no attribute 'drop'

In [5]:
popular = books_df.sort_values('Rating-Count', ascending=False)
popular.reset_index(drop=True, inplace=True)
popular.head(10)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Book-Rating,Rating-Count
0,0971880107,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,1.019584,2502.0
1,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...,4.468726,1295.0
2,0385504209,The Da Vinci Code,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...,4.652322,883.0
3,0060928336,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Rebecca Wells,1997,Perennial,http://images.amazon.com/images/P/0060928336.0...,http://images.amazon.com/images/P/0060928336.0...,http://images.amazon.com/images/P/0060928336.0...,3.448087,732.0
4,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA,http://images.amazon.com/images/P/0312195516.0...,http://images.amazon.com/images/P/0312195516.0...,http://images.amazon.com/images/P/0312195516.0...,4.334716,723.0
5,044023722X,A Painted House,John Grisham,2001,Dell Publishing Company,http://images.amazon.com/images/P/044023722X.0...,http://images.amazon.com/images/P/044023722X.0...,http://images.amazon.com/images/P/044023722X.0...,3.187017,647.0
6,0142001740,The Secret Life of Bees,Sue Monk Kidd,2003,Penguin Books,http://images.amazon.com/images/P/0142001740.0...,http://images.amazon.com/images/P/0142001740.0...,http://images.amazon.com/images/P/0142001740.0...,4.219512,615.0
7,067976402X,Snow Falling on Cedars,David Guterson,1995,Vintage Books USA,http://images.amazon.com/images/P/067976402X.0...,http://images.amazon.com/images/P/067976402X.0...,http://images.amazon.com/images/P/067976402X.0...,3.255700,614.0
8,0671027360,Angels &amp; Demons,Dan Brown,2001,Pocket Star,http://images.amazon.com/images/P/0671027360.0...,http://images.amazon.com/images/P/0671027360.0...,http://images.amazon.com/images/P/0671027360.0...,3.718430,586.0
9,0446672211,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,1998,Warner Books,http://images.amazon.com/images/P/0446672211.0...,http://images.amazon.com/images/P/0446672211.0...,http://images.amazon.com/images/P/0446672211.0...,4.105983,585.0

In [6]:
highestRated = books_df[books_df["Rating-Count"] > 50].sort_values('Book-Rating', ascending=False)
highestRated.reset_index(drop=True, inplace=True)
highestRated.head(10)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Book-Rating,Rating-Count
0,1844262553,Free,Paul Vincent,2003,Upfront Publishing,http://images.amazon.com/images/P/1844262553.0...,http://images.amazon.com/images/P/1844262553.0...,http://images.amazon.com/images/P/1844262553.0...,7.962963,54.0
1,0439064864,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,6.611765,170.0
2,0439139597,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,6.541237,194.0
3,0439136350,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,6.467005,197.0
4,0590353403,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,6.363095,168.0
5,0618002227,The Fellowship of the Ring (The Lord of the Ri...,J. R. R. Tolkien,1999,Houghton Mifflin Company,http://images.amazon.com/images/P/0618002227.0...,http://images.amazon.com/images/P/0618002227.0...,http://images.amazon.com/images/P/0618002227.0...,6.206349,63.0
6,0385199570,The Stand (The Complete and Uncut Edition),Stephen King,1990,Doubleday Books,http://images.amazon.com/images/P/0385199570.0...,http://images.amazon.com/images/P/0385199570.0...,http://images.amazon.com/images/P/0385199570.0...,6.175439,57.0
7,0877017883,Griffin &amp; Sabine: An Extraordinary Corresp...,Nick Bantock,1991,Chronicle Books,http://images.amazon.com/images/P/0877017883.0...,http://images.amazon.com/images/P/0877017883.0...,http://images.amazon.com/images/P/0877017883.0...,6.041667,72.0
8,0156528207,The Little Prince,Antoine de Saint-ExupÃƒÂ©ry,1968,Harcourt,http://images.amazon.com/images/P/0156528207.0...,http://images.amazon.com/images/P/0156528207.0...,http://images.amazon.com/images/P/0156528207.0...,5.797468,79.0
9,039480001X,The Cat in the Hat,Dr. Seuss,1957,Random House Books for Young Readers,http://images.amazon.com/images/P/039480001X.0...,http://images.amazon.com/images/P/039480001X.0...,http://images.amazon.com/images/P/039480001X.0...,5.730769,52.0

In [12]:
authors_df = books_df.groupby('Book-Author').agg({'Book-Rating': 'mean', 'ISBN': 'count'}).rename(columns={'ISBN': 'Books-Count'})
authors_rating = authors_df[['Book-Rating', 'Books-Count']]
authors_rating = authors_rating[authors_rating["Books-Count"] > 3]
authors_rating

                                      Book-Rating  Books-Count
Book-Author
A. A. Attanasio                          1.700337            9
A. A. Milne                              3.790321           46
A. B. Yehoshua                           3.916667            5
A. Bates                                 1.336264            7
A. C. Bhaktivedanta Swami Prabhupada     2.008095           20
...                                           ...          ...
Zora Neale Hurston                       3.560522           21
Zsuzsanna E. Budapest                    3.037273            5
bell hooks                               3.245748            7
tk                                       1.555556            6
x x                                      8.000000            4

[13185 rows x 2 columns]

In [15]:
books_df[books_df['Book-Author'] == 'x x']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Book-Rating,Rating-Count
146597,1591050367,An American Redneck in Hong Kong,x x,2002,"NovelBooks, Inc.",http://images.amazon.com/images/P/1591050367.0...,http://images.amazon.com/images/P/1591050367.0...,http://images.amazon.com/images/P/1591050367.0...,8.0,1.0
203521,1931696837,Unlawful,x x,2002,"NovelBooks, Inc.",http://images.amazon.com/images/P/1931696837.0...,http://images.amazon.com/images/P/1931696837.0...,http://images.amazon.com/images/P/1931696837.0...,10.0,1.0
209239,1591050804,Winter Fire,x x,2002,"NovelBooks, Inc.",http://images.amazon.com/images/P/1591050804.0...,http://images.amazon.com/images/P/1591050804.0...,http://images.amazon.com/images/P/1591050804.0...,9.0,1.0
230509,1931696810,Mating Season,x x,2002,"NovelBooks, Inc.",http://images.amazon.com/images/P/1931696810.0...,http://images.amazon.com/images/P/1931696810.0...,http://images.amazon.com/images/P/1931696810.0...,5.0,1.0

In [16]:
ratings_df

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]